<div class="generic-container" ng-controller="purchase_controller as ctrl">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="lead">Add Item to cart </span></div>
        <div class="formcontainer">
            <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
                <input type="hidden" ng-model="ctrl.purchasedata.cartId" value="1" />
				<input type="hidden" ng-model="ctrl.purchasedata.itemId" value="1" />


                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="amount">StoreId</label>
                        <div class="col-md-7">
							<input type="number" ng-model="ctrl.purchaseData.amount" id="amount" class="amount form-control input-sm"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-actions floatRight">
                        <input type="submit" value="Add" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">Your Cart </span></div>
        <div class="tablecontainer">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th width="20%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in ctrl.purchases">
                        <td><span ng-bind="p.item"></span></td>
                        <td><span ng-bind="p.amount"></span></td>
                        <td><span ng-bind="p.price"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
