<div class="container">

<div class="center-align">
    <h2>Add To Cart</h2>

	
		<div class="row">
			<div class="col s12 offset-5">
						    <i class="large material-icons">shopping_cart</i>
							</div>
			<div class="col s4 offset-s2">
				<span class="flow-text">
					<h4>Name: {{item.name}}</h4>
					<h4>Brand: {{item.brand}}</h4>
					<h4>Price: {{item.price}} $ </h4>	
				</span>
			</div>
			

  
  
			<div class="col s4 ">

				<span class="flow-text">
				<div class="generic-container" ng-controller="purchase_controller as ctrl">
				
		
            <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
			
			  <div class="col s4">
				<select type="text" ng-model="ctrl.purchasedata.amount">
				<option value="" disabled selected >Choose your option</option>
				  <option value="1">1</option>
				  <option value="2">2</option>
				  <option value="3">3</option>
				  <option value="4">4</option>
				  <option value="5">5</option>
				  <option value="6">6</option>
				</select>
			</div>
				<br>
                
                    <div class="form-actions floatLeft">
						  <input type="submit" value="Add To Cart" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid" onclick="Materialize.toast('Item was added to cart', 1000)">
                    </div>
                
           
     
    </div>
</div>
				</span>
			</div>
		</div>
	
	
	



<script>$('.collapsible').collapsible();
  $(document).ready(function() {
    $('select').material_select();
  });</script>
