<div>
    <div class="container">
        <h2>Items</h2>

        <div ng-if="items.length == 0">
            <div class="alert alert-info" role="alert">Loading...</div>
        </div>

        <div ng-if="items.length > 0">

            <div ng-repeat="item in items" ng-if="$index % 4 == 0" class="row">
                <div class="col s3">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" ng-src="assets/img/chrono.jpg" />
                        </div>
                        <div class="card-content red lighten-2">
                            <span class="card-title activator grey-text text-darken-4">{{items[$index].name}}<i class="material-icons right">more_vert</i></span>
                            <p><a href="#/item/{{items[$index].itemId}}">Add To Cart</a></p>
                            <p><a href="#/item/reviews/{{items[$index].itemId}}">See Reviews</a></p>
                        </div>
                        <div class="card-reveal teal lighten-2">
                            <span class="card-title grey-text text-darken-4">Quick View<i class="material-icons right">close</i></span>
                            <br>
                            <p><b>Brand</b> {{items[$index].brand}}</p>
                            <p><b>Price</b> {{items[$index].price}} $</p>
                        </div>
                    </div>
                </div>
                <div class="col s3">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="assets/img/after_dark.jpg">
                        </div>
                        <div class="card-content red lighten-3">
                            <span class="card-title activator grey-text text-darken-4">{{items[$index+1].name}}<i class="material-icons right">more_vert</i></span>
                            <p><a href="#/item/{{items[$index+1].itemId}}">Details</a></p>
                            <p><a href="#/item/{{items[$index+1].itemId}}">Add To Cart</a></p>
                        </div>
                        <div class="card-reveal teal lighten-3">
                            <span class="card-title grey-text text-darken-4">Quick View<i class="material-icons right">close</i></span>
                            <p>{{items[$index+1].brand}}</p>
                            <p>{{items[$index+1].price}}</p>
                        </div>
                    </div>
                </div>
                <div class="col s3">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="assets/img/soho.jpeg">
                        </div>
                        <div class="card-content red lighten-4">
                            <span class="card-title activator grey-text text-darken-4">{{items[$index+2].name}}<i class="material-icons right">more_vert</i></span>
                            <p><a href="#/item/{{items[$index+2].itemId}}">Details</a></p>
                            <p><a href="#/item/{{items[$index+2].itemId}}">Add To Cart</a></p>
                        </div>
                        <div class="card-reveal teal lighten-4">
                            <span class="card-title grey-text text-darken-4">Quick View<i class="material-icons right">close</i></span>
                            <p>{{items[$index+2].brand}}</p>
                            <p>{{items[$index+2].price}}</p>
                        </div>
                    </div>
                </div>
                <div class="col s3">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="assets/img/baker.jpg">
                        </div>
                        <div class="card-content red lighten-5">
                            <span class="card-title activator grey-text text-darken-4">{{items[$index+3].name}}<i class="material-icons right">more_vert</i></span>
                            <p><a href="#/item/{{items[$index+3].itemId}}">Details</a></p>
                            <p><a href="#/item/{{items[$index+3].itemId}}">Add To Cart</a></p>
                        </div>
                        <div class="card-reveal teal lighten-5">
                            <span class="card-title grey-text text-darken-4">Quick View<i class="material-icons right">close</i></span>
                            <p>{{items[$index+3].brand}}</p>
                            <p>{{items[$index+3].price}}</p>
                        </div>
                    </div>
                </div>
                <!--<div class="row">
                <div class="col s4">
                    <p> Name: {{item.name}} </p><br>
                    <p> Brand: {{item.brand}} </p><br>
                    <p> Price: {{item.price}} </p><br>
                    <a class="btn btn-primary" href="#/item/{{item.itemId}}">Details<br></a>
                    <a class="btn btn-primary" href="#/item/{{item.itemId}}">Add To Cart<br></a>
                </div>
                <div class="col s4">
                    <p> Name: {{item.name}} </p><br>
                    <p> Brand: {{item.brand}} </p><br>
                    <p> Price: {{item.price}} </p><br>
                    <a class="btn btn-primary" href="#/item/{{item.itemId}}">Details<br></a>
                    <a class="btn btn-primary" href="#/item/{{item.itemId}}">Add To Cart<br></a>
                </div>
                <div class="col s4">
                    <p> Name: {{item.name}} </p><br>
                    <p> Brand: {{item.brand}} </p><br>
                    <p> Price: {{item.price}} </p><br>
                    <a class="btn btn-primary" href="#/item/{{item.itemId}}">Details<br></a>
                    <a class="btn btn-primary" href="#/item/{{item.itemId}}">Add To Cart<br></a>
                </div>-->
            </div>
        </div>
    </div>
</div>
