<div>
	<h2>Reviews</h2>

	<div ng-if="reviews.length == 0">
		<div class="alert alert-info" role="alert">Loading...</div>
	</div>

	<div ng-if="reviews.length > 0">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Rating</th>
					<th>Comment</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="review in reviews">
					<td>12</td>
					<td>{{review.comment}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	
	
	
		<div class="row">
<div class="col s6 offset-s3"><span class="flow-text">
<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><span class="new badge"></span><i class="material-icons">thumb_up</i>First</div>
    <div class="collapsible-body"><p>{{review.comment}}.</p></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">thumb_up</i>Second</div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
  </li>
</ul>
</span></div>

</div>
	
	
	
</div>


<script>$('.collapsible').collapsible();
  $(document).ready(function() {
    $('select').material_select();
  });</script>