
    <div class="slider fullscreen">
        <ul class="slides">
            <li>
                <img src="assets/img/luxury.jpg">
                <!-- random image -->
                <div class="caption left-align">
                    <h5 class="light grey-text text-lighten-3">You can't stop time but you can always</h5>
                    <h3>BE ON TIME!</h3>
                </div>
            </li>
            <li>
                <img src="assets/img/simple.jpg">
                <!-- random image -->
                <div class="caption right-align">
                    <h3>All styles</h3>
                    <h5 class="light grey-text text-lighten-3">It has never been easier to find something for you.</h5>
                </div>
            </li>
            <li>
                <img src="assets/img/waterproof.jpg">
                <!-- random image -->
                <div class="caption center-align">
                    <h3>Innovation</h3>
                    <h5 class="light grey-text text-lighten-3">Discover our new waterproof collection.</h5>
                </div>
            </li>
            <li>
                <img src="assets/img/apple.jpg">
                <!-- random image -->
                <div class="caption left-align">
                    <h3>Created with attention</h3>
                    <h5 class="light grey-text text-lighten-3">Details make perfection, and perfection is not a detail</h5>
                </div>
            </li>
        </ul>
    </div>
	

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

        <!--Materializecss Slider-->
        <script>
            $(document).ready(function () {
                $('.slider').slider({full_width: true});
            });
        </script> 