body {
    background-image: url("airport.jpg");
}

header {
    font-size: 50px;
    display: inline;
    font-family: "Cooper Black";
    color: black;
    background-color: antiquewhite;
    border-radius: 40px;
    padding: 20px;
}