header {
    margin-top: 20px;
    font-size: 40px;
    font-family: "Cooper Black";
    margin-bottom: 150px;
}

body {
    margin: 30px;
    background-image: url("sky.jpg");
    font-family: "Cooper Black";
    font-size: 30px;
    text-align: center;
}

div {
    text-align: center;
    width: 100px;
    background-color: aliceblue;
    border-radius: 30px;
    display: inline;
}

footer {
    margin-top: 250px;
    font-size: 15px;
    font-family:"Arial Black";
}

input {
    font-size:20px;
    display: inline;
}

input:focus {
    background-color: yellow;
}

input:hover {
    background-color: aquamarine;
    color: black;
}
