<!DOCTYPE html>
<html ng-app="angularjs-demo">

<head lang="en">
    <!--Import materialize.css-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="assets/css/materialize.min.css" media="screen,projection" />

    <meta charset="UTF-8">
    <title>JUST IN TIME</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/users">Users</a>
                <a class="navbar-brand" href="#/items">Items</a>
                <a class="navbar-brand" href="#/items">Login</a>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <div ng-view=""></div>

        <div ng-controller="login_controller as ctrl">
            <div class="row">
			<form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
                
                    <div class="row">
                        <div class="input-field col s8 offset-s2">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="username" type="text" class="validate" ng-model="ctrl.user.username">
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8 offset-s2">
                            <i class="material-icons prefix">https</i>
                            <input id="password" type="password" class="validate" ng-model="ctrl.user.password">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <input type="submit" value="aloha">
                  <i class="material-icons right">send</i>
                </button>
                </form>
            </div>
        </div>
    </div>
	
	




    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="assets/js/materialize.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <!-- LIBS -->
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-route.min.js"></script>

    <!-- APP -->
    <script src="app/config/app.js"></script>
    <script src="app/config/config.js"></script>
    <!-- CONTROLLERS -->
    <script src="app/controllers/navControllers.js"></script>
    <script src="app/controllers/userControllers.js"></script>
    <script src="app/controllers/itemControllers.js"></script>
	    <script src="app/controllers/login_controller.js"></script>
			    <script src="app/controllers/user_controller.js"></script>
					    <script src="app/controllers/purchase_controller.js"></script>
    <!-- SERVICES -->
    <script src="app/services/userService.js"></script>
    <script src="app/services/itemService.js"></script>
	    <script src="app/services/user_service.js"></script>
		    <script src="app/services/purchase_service.js"></script>
	    <script src="app/services/login_service.js"></script>
</body>

</html>
