<div class="generic-container col-md-6 col-md-offset-3" ng-controller="login_controller as ctrl">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="lead">Login </span></div>
        <div class="formcontainer">
            <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
                <div class="row">
                    <div class="form-group col-md-12">
                        <h3 class="col-md-2 control-lable" for="username">Name</h3>
                        <div class="col-md-7 col-md-offset-1">
                            <input type="text" ng-model="ctrl.credentials.username" id="username" class="username" placeholder="Enter your name" required ng-minlength="3" />
                            <div class="has-error" ng-show="myForm.$dirty">
                                <span ng-show="myForm.username.$error.required">This is a required field</span>
                                <span ng-show="myForm.username.$error.minlength">Minimum length required is 3</span>
                                <span ng-show="myForm.username.$invalid">This field is invalid </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <h3 class="col-md-2 control-lable" for="password">Password</h3>
                        <div class="col-md-7 col-md-offset-1">
                            <input type="password" ng-model="ctrl.credentials.password" id="password" class="password" placeholder="Enter your password" required ng-minlength="3" />
                            <div class="has-error" ng-show="myForm.$dirty">
                                <span ng-show="myForm.password.$error.required">This is a required field</span>
                                <span ng-show="myForm.password.$error.minlength">Minimum length required is 3</span>
                                <span ng-show="myForm.password.$invalid">This field is invalid </span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="form-actions floatRight col-md-offset-4">
                        <input type="submit" value="Enter" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
