<div class="generic-container" ng-controller="user_controller as ctrl">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="lead">User Registration Form </span></div>
        <div class="formcontainer">
            <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
                <input type="hidden" ng-model="ctrl.user.userId" />
                <div class="row">
                    <div class="form-group col-md-12">
                        <h3 class="col-md-2 control-lable" for="uname">Name</h3>
                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl.user.username" id="uname" class="username form-control input-sm" placeholder="Enter your name" required ng-minlength="3" />
                            <div class="has-error" ng-show="myForm.$dirty">
                                <span ng-show="myForm.uname.$error.required">This is a required field</span>
                                <span ng-show="myForm.uname.$error.minlength">Minimum length required is 3</span>
                                <span ng-show="myForm.uname.$invalid">This field is invalid </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <h3 class="col-md-2 control-lable" for="pwd">Password</h3>
                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl.user.password" id="pwd" class="password form-control input-sm" placeholder="Enter your name" required ng-minlength="3" />
                            <div class="has-error" ng-show="myForm.$dirty">
                                <span ng-show="myForm.pwd.$error.required">This is a required field</span>
                                <span ng-show="myForm.pwd.$error.minlength">Minimum length required is 3</span>
                                <span ng-show="myForm.pwd.$invalid">This field is invalid </span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-md-12">
                        <h3 class="col-md-2 control-lable" for="type">Type</h3>
                        <div class="col-md-7">
							<select type="text" ng-model="ctrl.user.type" id="type" class="form-control input-sm">
								<option value="admin">Administrator</option>
								<option value="client">Client</option>
							</select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <h3 class="col-md-2 control-lable" for="email">Email</h3>
                        <div class="col-md-7">
                            <input type="email" ng-model="ctrl.user.email" id="email" class="email form-control input-sm" placeholder="Enter your Email" required/>
                            <div class="has-error" ng-show="myForm.$dirty">
                                <span ng-show="myForm.email.$error.required">This is a required field</span>
                                <span ng-show="myForm.email.$invalid">This field is invalid </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <h3 class="col-md-2 control-lable" for="store">StoreId</h3>
                        <div class="col-md-7">
							<input type="number" ng-model="ctrl.user.store" id="store" class="store form-control input-sm"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-actions floatRight col-md-offset-3">
                        <input type="submit" value="{{!ctrl.user.userId ? 'Add' : 'Update'}}" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
                        <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset Form</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">List of Users </span></div>
        <div class="tablecontainer">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID.</th>
                        <th>Name</th>
                        <th>Password</th>
                        <th>Type</th>
                        <th>Email</th>
                        <th width="20%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="u in ctrl.users">
                        <td><span ng-bind="u.userId"></span></td>
                        <td><span ng-bind="u.username"></span></td>
                        <td><span ng-bind="u.password"></span></td>
                        <td><span ng-bind="u.type"></span></td>
                        <td><span ng-bind="u.email"></span></td>
                        <td>
                            <button type="button" ng-click="ctrl.edit(u.userId)" class="btn btn-success custom-width">Edit</button> <button type="button" ng-click="ctrl.remove(u.userId)" class="btn btn-danger custom-width">Remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
