<div>
	<h2>Users</h2>

	<div ng-if="users.length == 0">
		<div class="alert alert-info" role="alert">Loading...</div>
	</div>

	<div ng-if="users.length > 0">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Action</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users">
					<td>{{user.username}}</td>
					<td>{{user.type}}</td>
					<td><a class="btn btn-primary" href="#/user/{{user.userId}}">Details</a></td>
					<td><a class="btn btn-primary" href="#/user/delete/{{user.userId}}">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
