<div>
	<h2>User Details</h2>

	<p><label>Username:</label> {{user.username}} </p>
	<p><label>Type:</label> {{user.type}} </p>
	<p><label>Email:</label> {{user.email}} </p>
	<p><label>Store:</label> {{user.storeId.city}}

</div>
